<div class="detail-container">
    <h3> Rename <span>{{dataImported.name | titlecase}}</span> </h3>
    <form (ngSubmit)="onSubmit()" novalidate>
        <div class="form-container">
            <mat-label for="itemName">New Checklist Name</mat-label><br>
            <mat-form-field appearance="fill" class="input-control">
                <input matInput [formControl]="itemName" name="itemName" required>
            </mat-form-field>
        </div>
        <div class="notification-container" *ngIf="isSubmitted">
            <p> {{submitNotification || errorMessage}}  </p>
        </div>
        <div class="button-container">
            <button type="submit" id="updateButton">Update</button>
        </div>
    </form>
</div>

