.card-local-container{
    width: 100%;
    align-self: end;
}

.form-container {
    margin-top: 32px;
    margin-bottom: 9em;
    width: 100%;
}

.form-container .form-control {
    margin-bottom: 2em;
    width: 100%;
}

.form-container .form-control .input-control {
    width: 100%;
}


.form-container .form-control .resend-email-container {
    margin-top: 0.6em;
    width: 100%; 
    text-align: right;
}

.form-container .form-control .resend-email-container a{
    text-decoration: none;
    color: #C71C13;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
}

.button-container #confirmButton {
    background-color: #870000;
    border: 1px solid #870000;
    box-shadow: 0 4px 6px 0 rgba(244, 0, 0, 0.3);
    color: #FFFFFF;
    padding: 14px 160px;
}

.button-container #cancelButton {
    background-color: #FFFFFF;
    border: 2px solid #870000;
    color: #870000;
}

@media screen and (max-width: 600px){

    .card-local-container{
        width: 30em;
    }

    .button-container #confirmButton, #cancelButton {
        padding: 0.5em 0;
    }

}

@media screen and (max-width: 425px){

    .card-local-container{
        width: 25em;
    }

}