<div class="alert-container">
    <div class="logo-container">
        <mat-icon>close</mat-icon>
    </div>
    <div class="message-container" *ngIf="isError">
        <h1> Error : {{data.status}} </h1>
        <p> {{data.message | titlecase}} </p>
    </div>
    
</div>
