.alert-container {
    position: relative;
    width: 100%;
}

.logo-container {
    margin: auto;
    width: fit-content;
    background-color: #870000;
    border-radius: 100%;
    padding: 0.7em 0.9em 0.6em;
    color : #FFFFFF;
    overflow: visible;
}

.message-container {
    text-align: center;
    margin-top: 30px;
}

h1 {
    color: #870000
}