.title-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 20px 10px 30px 5px
}

.title-container mat-icon {
    margin: auto 0px;
    padding-right: 2em;
    color:#870000;
}

.title-container h2 {
    margin: auto 0px;
    width: 80%;
    padding: 0;
}

.list-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    width: 100%;
}

.list-container .card-local-container {
    width: 100%;
    height: 100%;
}

.list-container .card-local-container app-card{
    width: 100%;
    min-height: 300px !important;
}

.list-container #toDoCard {
    margin-right: 20px;
}

.card-local-container .app-card-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

h2 {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif !important;
}

.app-card-header h4 {
    font-size: 1.2em;
    width: 90%;
}

.todo-list {
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    min-height: 200px !important;
}

.app-card-header #addChecklistButton {
    background-color: #870000;
    border: none;
    box-shadow: 0 4px 6px 0 rgba(244, 0, 0, 0.3);
    color: #FFFFFF;
    display: flex;
    height: 30px;
    padding : 0 !important;
    width: 3em;
}

.app-card-header #addChecklistButton mat-icon {
    height: 30px;
    margin: auto 10px;
    width: fit-content;
}

.checklist-container {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    height: 100%;
}


.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-preview  #toDoStatus {
    color: #E2DD40;
}
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .checklist-container:last-child {
    border: none;
  }
  
  .todo-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

.checklist-container h4 {
    width: 70%;
    margin: auto 10px;
}

.item-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.delete-button-container button {
    border: none;
    background-color: #FFFFFF;
    padding: 0;
    margin: auto;
    color:#870000;
}

#toDoStatus {
    color: #D9BA3D;
}

#doneStatus {
    color: #73D546;
}

.checklist-container .status-container p {
    margin: 0;
}

mat-dialog-actions {
    width: 100%;
    text-align: right;
}

#closeButton {
    background-color: #870000;
    border: none;
    box-shadow: 0 4px 6px 0 rgba(244, 0, 0, 0.3);
    color: #FFFFFF;
    margin-top: 10px;
    width: 20% ;
}

#pdfButton {
    background-color: #870000;
    border: none;
    box-shadow: 0 4px 6px 0 rgba(244, 0, 0, 0.3);
    color: #FFFFFF;
    width: 100%;
}

@media screen and (max-width: 1015px){

    .app-card-header #addChecklistButton {
        width: fit-content;
        height: 30px;
    }

    .app-card-header #addChecklistButton h5 {
        display: none;
    }
}

@media screen and (max-width: 770px){

    .card-local-container .app-card-header {
        width: 100%;
    }

    .checklist-container {
        padding: 5px 0px;
    }

    .checklist-container .status-container {
        text-align: center;
        margin: 1em 1em 1em 1em;
        padding: 5px 20px; 
    }

    .app-card-header #addChecklistButton {
        width: fit-content;
        height: 30px;
    }

    .app-card-header #addChecklistButton h5 {
        display: none;
    }

    #toDoStatus, #doneStatus{
        margin: auto;
    }

    .checklist-container .item-container h4 {
        width: 70%;
        margin: 5px auto;
        font-size: 0.8em;
    }
}


@media screen and (max-width: 666px){

    .list-container .card-local-container {
        margin-bottom: 30px;
    }

    #closeButton {
        width: 50% ;
    }


}

@media screen and (max-width: 580px){

    /* .list-container #toDoCard {
        margin-right: 0;
    } */

}