<div class="dashboard-layout">
    <mat-toolbar class="mat-elevation-z8">
        <div class="logo-container" *ngIf="sidenav.mode === 'side'">
            <img src="../../../assets/dashboard/ic_logo.svg" alt="App Icon">
        </div>
        <div class="logo-container" *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <img  *ngIf="!sidenav.opened" src="../../../assets/dashboard/ic_logo.svg" alt="App Icon">
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </div>
        <div class="layout-title-container">
            <mat-icon aria-hidden="false" aria-label="Dashboard SVG Icon" fontIcon="dashboard"></mat-icon>
            <h1>Dashboard</h1>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="dashboard-container">
        <mat-sidenav #sidenav="matSidenav">
            <div class="sidenav-container">
                <nav>
                    <ul>
                        <li>
                            <mat-icon aria-hidden="false" aria-label="Dashboard SVG Icon" fontIcon="dashboard"></mat-icon>

                        </li>
                        <li>
                            <mat-icon id="logoutButton" (click)="logout()" aria-hidden="false" aria-label="Logout Icon" fontIcon="logout"></mat-icon>
                        </li>
                    </ul>
                </nav>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="to-do-components-container">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

