<div class="list-container">
    <div class="card-local-container" id="toDoCard">
        <app-card [title]="''">
            <div class="app-card-header" id="todoHeader">
                <h4>To Do</h4>
                <button id="addChecklistButton" (click)="openAddDialog()">
                    <mat-icon aria-hidden="false" aria-label="Add Icon" fontIcon="add"></mat-icon>
                    <h5>Add New</h5>
                </button>
            </div>
            <div cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="checklistToDo" 
                [cdkDropListConnectedTo]="[doneList]"
                class="todo-list" 
                (cdkDropListDropped)="drop($event)">
                <div class="checklist-container" *ngFor="let item of checklistToDo" cdkDrag>
                    <div class="item-container" (click)="openDetailDialog(item.id, item.name)">
                        <h4> {{item.name | titlecase}} </h4>
                        <div class="status-container" id="toDoStatus" *ngIf="!isMaxTabletWidth">
                            <p> undone </p>
                        </div>
                        <div class="status-container" id="toDoStatusIcon" *ngIf="isMaxTabletWidth">
                            <mat-icon aria-hidden="false" aria-label="Pending Button" fontIcon="pending_actions"></mat-icon>
                        </div>
                    </div>
                    <div class="delete-button-container">
                        <button mat-icon-button (click)="deleteChecklist(item.id)">
                            <mat-icon aria-hidden="false" aria-label="Delete Button" fontIcon="delete"></mat-icon>
                        </button>
                    </div>
                </div>
                
            </div>
        </app-card>
    </div>
    <div class="card-local-container" id="doneCard">
        <app-card [title]="''">
            <div class="app-card-header" id="doneHeader">
                <h4>Done</h4>
            </div>
            <div cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="checklistDone"
                [cdkDropListConnectedTo]="[todoList]"
                class="todo-list" 
                (cdkDropListDropped)="drop($event)"
                id="doneList"
                >
                <div class="checklist-container"  *ngFor="let item of checklistDone; let i = index" cdkDrag>
                    <div class="item-container" (click)="openDetailDialog(item.id, item.name)">
                        <h4> {{item.name | titlecase}} </h4>
                        <div class="status-container" id="doneStatus" *ngIf="!isMaxTabletWidth">
                            <p> done </p>
                        </div>
                        <div class="status-container" id="doneStatusIcon" *ngIf="isMaxTabletWidth">
                            <mat-icon aria-hidden="false" aria-label="Pending Button" fontIcon="task_alt"></mat-icon>
                        </div>
                    </div>
                    <div class="delete-button-container">
                        <button mat-icon-button (click)="deleteChecklist(item.id)">
                            <mat-icon aria-hidden="false" aria-label="Delete Button" fontIcon="delete"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>
