<div class="auth-layout">
    <div class="image-background-container">
        <div class="card-global-container">
            <router-outlet></router-outlet>
        </div>
        <div class="logo-container">
            <img src="../../../assets/login/app-icon.svg" alt="app-icon">
            <span></span>
            <img src="../../../assets/login/company-logo.svg" alt="company-logo">
        </div>
    </div>
</div>

