.card-local-container{
    width: 100%;
    align-self: end;
}

h3 span {
    color : #C71C13;
    font-weight: 600;
}

.form-container {
    margin-top: 32px;
}

.form-container .form-control {
    margin-bottom: 2em;
    width: 100%;
}

.form-container .form-control .input-control {
    width: 100%;
}

.form-container .form-control .forgot-password-container {
    margin-top: 0.6em;
    width: 100%; 
    text-align: right;
}

.form-container .form-control .forgot-password-container a{
    text-decoration: none;
    color: #C71C13;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
}

.form-control button {
    position: absolute;
    right: 0;
    top: -2.6em;
}


.button-container {
    margin-top: 10em;
    text-align: center;
}

.button-container mat-error{
    margin-bottom : 20px;
}

.button-container #signInButton {
    background-color: #870000;
    border: 1px solid #870000;
    box-shadow: 0 4px 6px 0 rgba(244, 0, 0, 0.3);
    color: #FFFFFF;
}

.button-container #registerButton {
    background-color: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    padding: 0.8em 9em;
}

@media screen and (max-width: 600px){

    .card-local-container{
        width: 30em;
    }

    .button-container #registerButton {
        padding: 0.5em 0;
    }

}

@media screen and (max-width: 425px){

    .card-local-container{
        width: 25em;
    }

    .form-container .form-control .forgot-password-container {
        margin-top: 1em;
    }

}