<div class="card-local-container">
    <app-card [title]="'Register'">
        <h3>Please fill out the field.</h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-container">
                <div class="form-control">
                    <mat-label for="name">Username</mat-label><br>
                    <mat-form-field appearance="fill" class="input-control">
                        <input matInput formControlName="username" name="username" placeholder="johndoe" required>
                        <mat-error *ngIf="username?.invalid"> {{getErrorMessage('username')}} </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-control">
                    <mat-label for="email">Email</mat-label><br>
                    <mat-form-field appearance="fill" class="input-control">
                        <input matInput formControlName="email" name="email" placeholder="example@email.com" required>
                        <mat-error *ngIf="email?.invalid"> {{getErrorMessage('email')}} </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-control">
                    <mat-label for="password">Password</mat-label><br>
                    <mat-form-field appearance="fill" class="input-control">
                        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" name="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon> {{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
                        </button>
                        <mat-error *ngIf="password?.invalid"> {{getErrorMessage('password')}} </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="button-container">
                <p class="registerSuccessful" *ngIf="isRegistrationSuccess">Registration success!</p>
                <mat-error *ngIf="isError"> {{errorMessage}} </mat-error>
                <button type="submit" id="registerButton">Register</button>
                <button id="signInButton" routerLink="/sign-in">Sign In</button>
            </div>
        </form>
    </app-card>
</div>


