<div class="create-container">
    <div class="dialog-header">
        <h3>Create New To Do</h3>
        <mat-dialog-actions align="end">
            <mat-icon id="closeButton" mat-dialog-close>close</mat-icon>
        </mat-dialog-actions>
    </div>
    <form (ngSubmit)="onSubmit()" novalidate>
        <div class="form-container">
            <mat-label for="itemName">Item Name</mat-label><br>
            <mat-form-field appearance="fill" class="input-control">
                <input matInput [formControl]="itemName" name="itemName" placeholder="ex : project 1" required>
            </mat-form-field>
        </div>
        <div class="notification-container" *ngIf="isSubmitted">
            <p> {{submitNotification || errorMessage}}  </p>
        </div>
        <div class="button-container">
            <button type="submit" id="createButton">Add</button>
        </div>
    </form>
</div>