.create-container {
    width: 100%;
    margin: 0;

}

.dialog-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

h3 {
    width: 100%;
    margin: 0
}

mat-dialog-actions {
    justify-content: end;
    width: fit-content;
    min-height: 0;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 100%;
    padding: 0.5em 0.6em 0.4em;
    cursor: pointer;
}

.button-container #createButton {
    background-color: #870000;
    border: 1px solid #870000;
    box-shadow: 0 4px 6px 0 rgba(244, 0, 0, 0.3);
    color: #FFFFFF;
    margin-top: 20px;
}

p {
    color: green;
}