<div class="app-card-container">
    <div class="app-card">
        <img src="../../../../assets/login/company-logo.svg" alt="company-logo">
        <div class="content-container">
            <h1>Hi Ored, </h1>
            <h2>We have received your request to reset your password, click the Reset Password button below to continue with the Password change process.</h2>
        </div>
        <div class="button-container">
            <button id="resetButton" routerLink="/reset-password">Reset Password</button>
        </div>
        <div class="footer-container">
            <h2>Thank you!</h2>
            <h2>TESA 
                <span style="font-weight: 400">by </span>
                <span style="color: #C71C13">BTS.id Team</span>
            </h2>
        </div>
    </div>
</div>
